<div class = "container">
  <div class = "row m-5">
    <div class = "col text-center">
      <h1 class ="display-3 font-weight-bold">About</h1>
      <p class = "h4 mb-2">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
  </div>
  <div class = "row">
    <div class = "col text-center">
      <image class = "img-fluid">
      <%= image_tag "strawberry_shortcake.jpg", size: "600x300" %>
    </image>
    </div>
  </div>
</div>

