<div class= "container">
  <div class= "row py-4">
    <div class= "offset-1"></div>
      <h4 class= "bg-secondary text-white">新規会員登録</h4>
    </div>
  </div>
</div>



<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class= "container">
    <div class= "row pt-2">
      <div class= "col-md-2 mt-2">名前</div>
      <label for= "last_name" class= "form-label col-md-1 col-form-label ">（姓）</label>
      <div class= "col-md-3">
        <input type= "text" class= "form-control" id= "last_name" autofocus= "true" placeholder= "令和">
      </div>
      <label for= "first_name" class= "form-label col-md-1 col-form-label">（名）</label>
      <div class= "col-md-3">
        <input type= "text" class= "form-control" id= "first_name" placeholder= "道子">
      </div>
    </div>
    <div class= "row pt-2">
      <div class= "col-md-2 mt-2 ">フリガナ</div>
      <label for= "last_name_kana" class= "form-label col-md-1 col-form-label">（セイ）</label>
      <div class= "col-md-3">
        <input type= "text" class= "form-control" id= "last_name_kana" placeholder= "レイワ">
      </div>
      <label for= "first_name_kana" class= "form-label col-md-1 col-form-label">（メイ）</label>
      <div class= "col-md-3">
        <input type= "text" class= "form-control" id= "first_name_kana" placeholder= "ミチコ">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "email" class= "col-md-3 col-form-label">メールアドレス</label>
      <div class= "col-md-7">
        <input type= "email" class= "form-control" id= "email" placeholder= "sample@example.com">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "postal_code" class= "col-md-3 col-form-label">郵便番号（ハイフンなし）</label>
      <div class= "col-md-3">
        <input type= "text" pattern= "[0-9]{7}" class= "form-control" id= "postal_code" placeholder= "0000000">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "address" class= "col-md-3 col-form-label">住所</label>
      <div class= "col-md-7">
        <input type= "text" class= "form-control" id= "address" placeholder= "東京都渋谷区代々木神園町0-0">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "telephone_number" class= "col-md-3 col-form-label">電話番号（ハイフンなし）</label>
      <div class= "col-md-3">
        <input type= "text" pattern= "[0-9]{10,11}" class= "form-control" id= "telephone_number" placeholder= "0000000000">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "password" class= "col-md-3 col-form-label">
        パスワード
        <% if @minimum_password_length %>
          （<%= @minimum_password_length %> 文字以上）
        <% end %>
      </label>
      <div class= "col-md-3">
        <input type= "password" class= "form-control" id= "password">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "password_confirmation" class= "col-md-3 col-form-label">パスワード（確認用）</label>
      <div class= "col-md-3">
        <input type= "password" class= "form-control" id= "password_confirmation">
      </div>
    </div>
    <div class= "row p-4">
      <div class="d-grid col-md-4 mx-auto">
        <button type= "submit" class="btn btn-success btn-lg btn-block" id= "sign_up">新規登録</button>
      </div>
    </div>
  </div>
<% end %>

<div class= "container">
  <div class= "row py-4">
    <div class= "offset-1">
      <h5 class= "bg-secondary text-white">既に登録済みの方</h5>
    </div>
  </div>
  <div class= "row">
    <div class= "offset-1 col-md-1">
      <%= link_to new_customer_session_path do %>
      こちら
      <% end %>
    </div>
    <div>
      からログインしてください。
    </div>
  </div>
</div>
