<div class="container my-5">

  <div class="row no-gutters">
    <p class="mt-2 offset-3 bg-light">注文情報確認</p>
  </div>

  <div class="row my-5">
    <div class="col-8">
      <table border="1" height="50">
        <tr>
          <th bgcolor="whitesmoke" width="100">商品名</th>
          <th bgcolor="whitesmoke" width="300">単価(税込)</th>
          <th bgcolor="whitesmoke" width="150">数量</th>
          <th bgcolor="whitesmoke" width="250">小計</th>
        </tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </table>
    </div>
    <div class="col-3">
      <table border="1">
        <tr><th bgcolor="whitesmoke" width="100" height="50">送料</th><td></td></tr>
        <tr><th bgcolor="whitesmoke" width="100" height="50">商品合計</th><td></td></tr>
        <tr><th bgcolor="whitesmoke" width="100" height="50">請求金額</th><td></td></tr>
      </table>
    </div>
  </div>
  <div class="row my-5">
    <table>
      <tr><th width="100">支払方法</th><td><%= @order.payment_method %></td></tr>
      <tr>
        <th>お届け先</th>
        <td>
          〒
        </td>
      </tr>
    </table>
</div>