<div class= "container">
  <div class= "row py-4">
    <div class= "offset-1"></div>
      <h4 class= "bg-secondary text-white">ログイン</h4>
    </div>
  </div>
</div>

<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class= "container">
    <div class= "row py-3 pl-3">
      <div class= "offset-1">
        <h6 class= "bg-secondary text-white">会員の方はこちらからログイン</h6>
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "email" class= "offset-2 col-md-2 col-form-label">メールアドレス</label>
      <div class= "col-md-5">
        <input type= "email" class= "form-control" id= "email" autofocus= "true" autocomplete: "email" placeholder= "sample@example.com">
      </div>
    </div>
    <div class= "row pt-2">
      <label for= "password" class= "offset-2 col-md-2 col-form-label">パスワード</label>
      <div class= "col-md-5">
        <input type= "password" class= "form-control" id= "password" autocomplete: "current-password">
      </div>
    </div>
    <div class= "row py-4">
      <div class="d-grid col-md-2 mx-auto">
        <button type= "submit" class="btn btn-primary btn-lg btn-block" id= "sign_up">ログイン</button>
      </div>
    </div>
    <div class= "row py-3 pt-2">
      <div class= "offset-1 pl-3">
        <h6 class= "bg-secondary text-white">会員登録がお済みでない方</h6>
      </div>
    </div>
    <div class= "row">
      <div class= "offset-2 col-md-1">
        <%= link_to new_customer_registration_path do %>
        こちら
        <% end %>
      </div>
      <div>
        から新規登録を行ってください。
      </div>
    </div>
  </div>
<% end %>